*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
  }
  
  input, button, textarea, select {
    font: inherit;
  Font-family: inherit;
  }
  
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  html, body {
  height: 100%;
  font-family: 'Inconsolata';
  }
  html {
    display: grid;
    place-content: center;
    text-align: center;
    background: radial-gradient( hsl(301, 94%, 44%), hsl(298, 85%, 13%));
  }
  .tarot-page__heading {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 8px 8px 6px rgb(37, 2, 37);
  }
  .tarot-card-display__flexbox {
    display: flex;
    gap: 5rem;
  }
  .tarot-card-display__container {
    width: 280px;
    height: 420px;
    border: 6px solid white;
    position: relative;
  } 
  .tarot-page__input-form {
    margin-bottom: 3rem;
  }
  form {
    display: flex;
    place-content: center;
  }
  input {
    position: relative;
    left: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    width: 660px;
    border-radius: 2rem;
    border: 3px solid white;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  input[type=text]:focus {
    border: 3px solid rgb(140, 101, 231);
    outline: none;
  }
  button {
    position: relative;
    width: 80px;
    border-radius: 2rem;
    border: none;
    right: 3rem;
    cursor: pointer;
    background-color: #d9b4f8;
  }
